[tool.poetry]
name = "computation-py"
version = "0.1.0"
# doc
authors = ["Weiliang Li <to.be.impressive@gmail.com>"]
description = "Python implementation for Understanding Computation book."
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
# 3rd party
lark-parser = "^0.11.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
flake8 = "^3.8.3"
ipython = "^7.18.1"
mypy = "^0.782"
pytest = "^6.2.0"
pytest-cov = "^2.10.1"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
